:root {
  --bg-darkest: hsl(0,10%,10%);
  --bg-darker: hsl(0,10%,20%);
  --bg-dark: hsl(0,10%,30%);
  --bg-medium: hsl(0,10%,45%);
  --bg-bright: hsl(0,10%,60%);
  --bg-brighter: hsl(0,10%,80%);
  --bg-brightest: hsl(0,10%,90%);
  --good: hsl(120,50%,75%);
  --bad: hsl(0,80%,80%);
  --modified: hsl(90,10%,50%);
  --shadow: hsla(0,10%,10%,0.75);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-darkest);
  height: 100vh;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

p, h2, h3 {
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  color: var(--bg-darker);
}

h2 {
  font-size: 22px;
  color: var(--bg-darkest);
}

h3 {
  font-size: 20px;
  color: var(--bg-darkest);
}

h4 {
  font-size: 16px;
  color: var(--bg-darkest);
  margin-bottom: 8px;
}

.hal-center {
  text-align: center;
}

.val-middle {
  vertical-align: middle;
}

.break-word {
  word-break: break-word;
}

.tiny-p {
  font-size: 12px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mla {
  margin-left: auto !important;
}

.ml8 {
  margin-left: 8px !important;
}

.w100 {
  width: 100% !important;
}

.hidden {
  display: none !important;
}

label > span {
  font-size: 12px;
  color: var(--bg-darker);
}

button.btn {
  font-size: 16px;
  color: var(--bg-brightest);
  background-color: var(--bg-medium);
  padding: 4px 8px;
  height: 32px;
  transition-duration: 100ms;
}
button.btn:not(:disabled):active {
  color: var(--bg-brighter);
  background-color: var(--bg-dark);
}
button.btn:disabled {
  color: var(--bg-dark);
  cursor: not-allowed;
}

input[type=text], select {
  font-size: 18px;
  font-family: monospace;
  outline: none;
  border: none;
  background-color: var(--bg-brightest);
  color: var(--bg-darker);
  padding: 0.5ch;
}
input[type=text]:invalid, select:invalid {
  background-color: var(--bad);
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--bg-dark);
  height: 8px;
  border-radius: 4px;
}

input[type=range]::-moz-range-track {
  background: var(--bg-dark);
  height: 8px;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: var(--bg-brightest);
  height: 16px;
  width: 16px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 8px;
  background-color: var(--bg-brightest);
  height: 16px;
  width: 16px;
}

.flex-r {
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.flex-r > * {
  min-width: 0;
}

.flex-c {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.flex-c > * {
  min-height: 0;
}

.f-grow {
  flex-grow: 1;
}

.f-noshrink {
  flex-shrink: 0;
}

.f-a-c {
  align-items: center;
}

.f-j-c {
  justify-content: center;
}

.f-g4 {
  gap: 4px;
}

.f-g8 {
  gap: 8px;
}

.f-g12 {
  gap: 12px;
}

.f-g16 {
  gap: 16px;
}

.modal-bg {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-fg {
  background-color: var(--bg-bright);
  padding: 12px;
  width: 80%;
  max-width: 400px;
  border-radius: 3px;
  margin-top: 32px;
}

.toast-container {
  position: absolute;
  z-index: 20;
  bottom: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toast {
  background-color: var(--bg-brightest);
  color: var(--bg-darker);
  font-size: 16px;
  width: 90%;
  max-width: 600px;
  padding: 12px 6px;
  border-radius: 3px;
  border-left: 6px solid var(--bg-brighter);
  box-shadow: 1px 1px 4px var(--shadow);
  opacity: 1;
}
.toast.toast-ok {
  border-left-color: var(--good);
}
.toast.toast-err {
  border-left-color: var(--bad);
}
.toast.fading {
  opacity: 0;
  transition-duration: 500ms;
}

/*******************
 * BASIC STRUCTURE *
 *******************/
header {
  padding: 6px 6px 0;
}
header nav {
  display: flex;
  gap: 2px;
}
header nav button {
  color: var(--bg-darkest);
  font-size: 18px;
  padding: 6px 8px 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--bg-medium);
}
header nav button.active {
  background-color: var(--bg-bright);
}
header nav button svg {
  height: 28px;
  width: 28px;
}

section {
  background-color: var(--bg-bright);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 8px;
}
section .main-content {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-brightest) var(--bg-brighter);
}
section .main-content .view-tab {
  gap: 24px;
  padding-bottom: 48px;
}

.entry-wrapper {
  background-color: var(--bg-brighter);
  font-family: monospace;
  font-size: 14px;
  padding: 0 4px 4px;
}
.entry-wrapper .entry-header {
  color: var(--bg-darker);
  font-size: 16px;
  padding: 4px 0;
}
.entry-wrapper .entry-items {
  background-color: var(--bg-dark);
}
.entry-wrapper .entry-items .entry-item {
  color: var(--bg-brightest);
  justify-content: space-between;
  padding: 2px 4px;
}
.entry-wrapper .entry-items .entry-item:not(:last-child) {
  border-bottom: 1px solid var(--bg-medium);
}
.entry-wrapper .entry-error {
  margin-top: 4px;
  padding: 0 4px;
  font-size: 16px;
  font-weight: 600;
  background: hsl(0, 100%, 75%);
  color: hsl(0, 50%, 25%);
}

/***************
 * HOME SCREEN *
 ***************/
#view-home {
  max-width: 480px;
}

/*****************
 * STATUS SCREEN *
 *****************/
@media only screen and (min-width: 751px) {
  #view-status {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 16px));
  }
}
.health {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid var(--bg-medium);
  border-radius: 8px;
}
.health.healthy {
  background-color: hsl(120, 70%, 70%);
}
.health.struggling {
  background-color: hsl(45, 80%, 70%);
}
.health.broken {
  background-color: hsl(0, 90%, 70%);
}
.health.inactive {
  background-color: hsl(0, 0%, 60%);
}

/*******************
 * CONTROLS SCREEN *
 *******************/
@media only screen and (min-width: 751px) {
  #view-controls {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 16px));
    grid-template-areas: "buttons axes" "interaction interaction";
  }
  #controls-buttons {
    grid-area: buttons;
  }
  #controls-axes {
    grid-area: axes;
  }
  #controls-btn-wrapper {
    grid-area: interaction;
  }
}
.ctrl-wrapper {
  cursor: pointer;
}
.ctrl-wrapper .ctrl-input-current {
  background-color: var(--bg-dark);
  color: var(--bg-brightest);
  font-size: 12px;
  padding: 8px;
}
.ctrl-wrapper .ctrl-input-current.modified {
  background-color: var(--modified);
}

.ctrl-modal-options {
  margin-bottom: 16px;
  width: 100%;
  font-size: 14px;
  padding: 8px;
}

#ctrl-input-deadzone-text, #ctrl-input-gain-text {
  width: 5ch;
}

/*******************
 * SETTINGS SCREEN *
 *******************/
@media only screen and (min-width: 751px) {
  #view-settings {
    display: grid;
    grid-template-columns: repeat(2, 376px);
    gap: 0;
  }
  #view-settings > div {
    padding-right: 16px;
    border-right: 1px solid var(--bg-medium);
  }
  #view-settings > div:not(:first-child) {
    padding-left: 16px;
  }
}
@media only screen and (max-width: 750px) {
  #view-settings > div:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--bg-medium);
  }
}
#input-ip {
  width: 16ch;
}

#input-port {
  width: 5ch;
}

#input-poll-interval {
  width: 6ch;
}

#settings-connection span,
#settings-misc .flex-r span {
  margin: 0.5ch;
  font-family: monospace;
  font-size: 16px;
}

#settings-arduino-port {
  width: 8ch;
}